<section class="client-dialog">
  <div class="client-dialog__header">
    <span *ngIf="isViewClicked" class="client-dialog__header--title">
      Client Details
    </span>
    <span *ngIf="isNewClicked" class="client-dialog__header--title">
      Add Client
    </span>
    <span *ngIf="isEditClicked" class="client-dialog__header--title">
      <img src="../../../../assets/images/dp-fb.jpg" alt="" srcset=""
        style="height: 40px; width: 40px; border-radius: 50%">
      Edit Client
    </span>
    <span *ngIf="isDeleteClicked" class="client-dialog__header--title">
      Delete Client
    </span>
  </div>

  <div class="client-dialog__body">
    <ng-container *ngIf="isViewClicked">
      <ng-container *ngTemplateOutlet="viewClient;context:{ $implicit: client }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isNewClicked">
      <ng-container *ngTemplateOutlet="newClient;context:{ $implicit: client }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isEditClicked">
      <ng-container *ngTemplateOutlet="editClient;context:{ $implicit: client }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isDeleteClicked">
      <ng-container *ngTemplateOutlet="deleteClient;context:{ $implicit: client }"> </ng-container>
    </ng-container>
  </div>

  <div class="client-dialog__footer">
    <span class="client-dialog__footer--item-1">
      <button mat-stroked-button color="warn" (click)=onCancelDialog()>
        <span *ngIf="isViewClicked">
          Close
        </span>
        <span *ngIf="!isViewClicked">
          Cancel
        </span>
      </button>
    </span>
    <span class="client-dialog__footer--item-2" *ngIf="!isViewClicked">
      <button mat-raised-button color="warn" *ngIf="isDeleteClicked">
        Yes, Delete
      </button>
      <button mat-raised-button color="primary" *ngIf="!isDeleteClicked">
        Submit
      </button>
    </span>
  </div>
</section>

<!-- 
<ng-container></ng-container> Is used to hold the reference for template/structural directive with out creating the element in the DOM.
<ng-template></ng-template> Is used to hold the actual content to be displayed based on the condition provided in the container. 
-->
<ng-template #viewClient let-client>
  <mat-card>
    <mat-nav-list>
      <p mat-list-item class="client-dialog__body--img">
        <img src="../../../../assets/images/dp-fb.jpg" alt="" srcset="">
      </p>
      <p mat-list-item class="client-dialog__body--fName">
        <label for="">Name : </label> {{ client.firstName }} {{ client.lastName }}
      </p>
      <p mat-list-item class="client-dialog__body--phNo">
        <label for="">Phone : </label> {{ client.phoneNo }}
      </p>
      <p mat-list-item class="client-dialog__body--email">
        <label for="">Email : </label> {{ client.email }}
      </p>
    </mat-nav-list>
  </mat-card>
</ng-template>

<ng-template #newClient let-client>
  <mat-card>
    <mat-nav-list>
      <p mat-list-item class="client-dialog__body--img">
        <span>
          <mat-icon>camera_alt</mat-icon>
        </span>
        <!-- <img src="" alt="" srcset=""> -->
      </p>
      <p mat-list-item class="client-dialog__body--fName desktop__mobile">
        <!-- <label for="">First Name : </label>  -->
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Linga">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Annela">
        </mat-form-field>
      </p>

      <p mat-list-item class="client-dialog__body--phNo desktop__mobile">
        <mat-form-field appearance="outline">
          <mat-label>Phone No</mat-label>
          <input matInput placeholder="203-970-9860">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="alreddy@ashta.in">
        </mat-form-field>
      </p>

    </mat-nav-list>
  </mat-card>
</ng-template>

<ng-template #editClient let-client>
  <mat-card>
    <mat-nav-list>
      <span mat-list-item class="client-dialog__body--img">
        <!-- <img src="../../../../assets/images/dp-fb.jpg" alt="" srcset="" style="height: 35px; width: 35px"> -->
        <!-- <img src="" alt="" srcset=""> -->
      </span>
      <span mat-list-item class="client-dialog__body--fName desktop__mobile">
        <!-- <label for="">First Name : </label>  -->
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Linga" [(ngModel)]="client.firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Annela" [(ngModel)]="client.lastName">
        </mat-form-field>
      </span>

      <span mat-list-item class="client-dialog__body--phNo desktop__mobile">
        <mat-form-field appearance="outline">
          <mat-label>Phone No</mat-label>
          <input matInput placeholder="203-970-9860" [(ngModel)]="client.phoneNo">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="alreddy@ashta.in" [(ngModel)]="client.email">
        </mat-form-field>
      </span>

    </mat-nav-list>
  </mat-card>
</ng-template>

<ng-template #deleteClient let-client>
  Are you sure? Want to remove {{ client.firstName }} {{ client.lastName }} !
</ng-template>