<section class="client-dialog">
  <div class="client-dialog__header">
    <span *ngIf="isViewClicked" class="client-dialog__header--title">
      Client Details
    </span>
    <span *ngIf="isNewClicked" class="client-dialog__header--title">
      Add Client
    </span>
    <span *ngIf="isEditClicked" class="client-dialog__header--title">
      <img src="../../../../assets/images/dp-fb.jpg" alt="" srcset=""
        style="height: 40px; width: 40px; border-radius: 50%">
      Edit Client
    </span>
    <span *ngIf="isDeleteClicked" class="client-dialog__header--title">
      Delete Client
    </span>
  </div>

  <div class="client-dialog__body">
    <ng-container *ngIf="isViewClicked">
      <ng-container *ngTemplateOutlet="viewClient;context:{ $implicit: clientData }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isNewClicked">
      <ng-container *ngTemplateOutlet="newClient;context:{ $implicit: clientData }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isEditClicked">
      <ng-container *ngTemplateOutlet="editClient;context:{ $implicit: clientData }"> </ng-container>
    </ng-container>

    <ng-container *ngIf="isDeleteClicked">
      <ng-container *ngTemplateOutlet="deleteClient;context:{ $implicit: clientData }"> </ng-container>
    </ng-container>
  </div>

</section>

<!-- 
<ng-container></ng-container> Is used to hold the reference for template/structural directive with out creating the element in the DOM.
<ng-template></ng-template> Is used to hold the actual content to be displayed based on the condition provided in the container. 
-->
<ng-template #viewClient let-clientD>
  <mat-card>
    <mat-nav-list>
      <p mat-list-item class="client-dialog__body--img">
        <img src="../../../../assets/images/dp-fb.jpg" alt="" srcset="">
      </p>
      <p mat-list-item class="client-dialog__body--fName">
        <label for="">Name : </label> {{ clientD.firstName }} {{ clientD.lastName }}
      </p>
      <p mat-list-item class="client-dialog__body--phNo">
        <label for="">Phone : </label> {{ clientD.phoneNo }}
      </p>
      <p mat-list-item class="client-dialog__body--email">
        <label for="">Email : </label> {{ clientD.email }}
      </p>
    </mat-nav-list>
  </mat-card>
  <ng-container *ngTemplateOutlet="footer"> </ng-container>
</ng-template>

<ng-template #newClient let-clientD>
  <!-- 
    If you have to pass on the form to the method.
    <form (ngSubmit)="onSubmit(form)" #form="ngForm"> 
    -->
  <!-- If you have donot have to pass on the form but access it through the @ViewChild decorator in the ts. -->
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-card>
      <mat-nav-list>
        <p mat-list-item class="client-dialog__body--img">
          <span>
            <mat-icon>camera_alt</mat-icon>
          </span>
          <!-- <img src="" alt="" srcset=""> -->
        </p>
        <span mat-list-item class="client-dialog__body--fName desktop__mobile" ngModelGroup="clientName"
          #clientName="ngModelGroup">
          <!-- <label for="">First Name : </label>  -->
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Linga" ngModel name="firstName" required #firstName="ngModel">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Annela" ngModel name="lastName" required #lastName="ngModel">
          </mat-form-field>
        </span>

        <!-- 
          ngModelGroup="clientName" #clientName="ngModelGroup" :: is used for grouping the values
          <p *ngIf="!clientName.valid && clientName.touched">The Client naem is invalid!</p> 
        -->

        <span mat-list-item class="client-dialog__body--phNo desktop__mobile">
          <mat-form-field appearance="outline">
            <mat-label>Phone No</mat-label>
            <input matInput placeholder="203-970-9860" ngModel name="phoneNo" required #phoneNo="ngModel">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="alreddy@ashta.in" ngModel name="email" required email #email="ngModel">
          </mat-form-field>
        </span>
      </mat-nav-list>
    </mat-card>

    <div class="client-dialog__footer">
      <span class="client-dialog__footer--item-1">
        <button mat-stroked-button color="warn" (click)=onCancelDialog()>
          Cancel
        </button>
      </span>
      <span class="client-dialog__footer--item-2" *ngIf="!isViewClicked">
        <button mat-raised-button color="primary" [disabled]="!form.valid">
          Submit
        </button>
      </span>
    </div>
  </form>
</ng-template>

<ng-template #editClient let-clientD>
  <form [formGroup]="editForm" (ngSubmit)="onEditAndSubmit()">
    <mat-card>
      <mat-nav-list>
        <span mat-list-item class="client-dialog__body--img">

        </span>
        <!-- Bundle the fileds to be grouped into the formGroupName which is same as the name used in the formGroup in ts. -->
        <span mat-list-item class="client-dialog__body--fName desktop__mobile">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
          <!-- If you are using the nested controls in the form group then, you should access using the groupName.firstName. -->
          <span *ngIf="!editForm.get('firstName').valid && editForm.get('firstName').touched">firstName is
            Invalid</span>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
          <span *ngIf="!editForm.get('lastName').valid && editForm.get('lastName').touched">lastName is Invalid</span>

        </span>

        <span mat-list-item class="client-dialog__body--phNo desktop__mobile">
          <mat-form-field appearance="outline">
            <mat-label>Phone No</mat-label>
            <input matInput formControlName="phoneNo">
          </mat-form-field>
          <span *ngIf="!editForm.get('phoneNo').valid && editForm.get('phoneNo').touched">phoneNo is Invalid</span>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <span *ngIf="!editForm.get('email').valid && editForm.get('email').touched">Email is Invalid</span>

        </span>
      </mat-nav-list>
    </mat-card>

    <div class="client-dialog__footer">
      <span class="client-dialog__footer--item-1">
        <button mat-stroked-button color="warn" type="button" (click)=onCancelDialog()>
          Cancel
        </button>
      </span>
      <span class="client-dialog__footer--item-2">
        <button mat-raised-button color="primary" [disabled]="!editForm.valid && !editForm.touched">
          Submit
        </button>
      </span>
    </div>
  </form>
</ng-template>

<ng-template #deleteClient let-clientD>
  Are you sure? Want to remove {{ clientD.firstName }} {{ clientD.lastName }} !
  <ng-container *ngTemplateOutlet="footer"> </ng-container>
</ng-template>

<ng-template #footer>
  <div class="client-dialog__footer">
    <span class="client-dialog__footer--item-1">
      <button mat-stroked-button color="warn" (click)=onCancelDialog()>
        <span *ngIf="isViewClicked">
          Close
        </span>
        <span *ngIf="!isViewClicked">
          Cancel
        </span>
      </button>
    </span>
    <span class="client-dialog__footer--item-2" *ngIf="!isViewClicked">
      <button mat-raised-button color="warn" *ngIf="isDeleteClicked" (click)="onSubmit()">
        Yes, Delete
      </button>
      <button mat-raised-button color="primary" *ngIf="!isDeleteClicked">
        Submit
      </button>
    </span>
  </div>
</ng-template>