@import '../../../../scss/vars';
@import '../../../../scss/mixins';

@function color($color){
    @return map-get($colors , $color);
}

.desktop__view{
    min-width: 200px;
    width: 400px;
    display: flex;

  }
  

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

mat-card {
    padding: 2px;
    // padding-bottom: 10px;
    margin-bottom: 5px; 

}

label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.client-dialog {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-height: 150px;
}

.client-dialog__header {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 2px 20px;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    // justify-content: center;
    justify-content: center;
}

.client-dialog__header--title {
    // font-family: Roboto,"Helvetica Neue",sans-serif;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'PT Serif', serif;
    text-transform: none;
    font-size: 30px;
    line-height: 30px;
    color: darken(map-get($colors, red_color), 20% )
}

.client-dialog__body {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.desktop__mobile {
    display: flex;
}

@media (min-width: 840px) {
    .desktop__mobile {
        flex-direction: row;
    }
}

@media (max-width: 840px) {
    .desktop__mobile {
        flex-direction: column;
    }
}

.mat-form-field {
    margin: 0px 10px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: -.5em 0 !important;
}

.client-dialog__body--img {
    flex: 1;
    @extend .flex-center;

    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: rgb(230, 238, 238);
    }

    span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: rgb(230, 238, 238);
    }
}

.client-dialog__body--fName {
    flex: 1;
    @extend .flex-center;
    display: flex;
}

.client-dialog__body--lName {
    flex: 1;
    @extend .flex-center;
}

.client-dialog__body--phNo {
    flex: 1;
    @extend .flex-center;
}

.client-dialog__body--email {
    flex: 1;
    @extend .flex-center;
}

.client-dialog__footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.client-dialog__footer--item-2 {
    margin-left: 5px;
}