<div [formGroup]="criteriaForm">

</div>









<!-- <div [formGroup]="criteriaForm"> -->

  <!-- <div class="patient-details__formArr" formArrayName="criteriaArr" *ngFor="let criteria of criteriaForm.get('criteriaArr').controls; let index=index">
        <div class="patient-details-group" [formGroupName]="index"> -->

        <!-- <mat-form-field appearance="outline">
        <mat-label>Condition</mat-label>
        <input matInput formControlName="condition" name="condition">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput formControlName="value" name="value">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Units</mat-label>
            <input matInput formControlName="units" name="units">
        </mat-form-field> -->

          
    <!-- </div>
  </div> -->
  
<!-- </div> -->

<!-- <div [formGroup]="billingForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Card Number" formControlName="cardNumber">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="CVV" formControlName="cvv">
    </mat-form-field>
  
    <h5>Expiration</h5>
  
    <mat-form-field>
      <input matInput type="number" placeholder="Month" formControlName="expirationMonth">
    </mat-form-field>
    /
    <mat-form-field>
      <input matInput type="number" placeholder="Year" formControlName="exporationYear" (blur)='validate()'>
    </mat-form-field>
  </div> -->

