

<form [formGroup]="criteriaForm" (ngSubmit)="onCriteriaSubmit()">
  <button>
    submit
  </button>
  <div class="patient-details__formArr" formArrayName="criteriaArr" *ngFor="let criteria of criteriaForm.get('criteriaArr').controls; let index=index">
    <div class="patient-details-group" [formGroupName]="index">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type">
      </mat-form-field>

      <mat-form-field>
          <mat-label>SubType</mat-label>
          <mat-select formControlName="subType" name="subType" (selectionChange)="onSubTypeChange($event, index)">
            <mat-option *ngFor="let subType of subTypes" [value]="subType.viewValue">
              {{subType.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <div class="patient-details-group" formGroupName="subGroup">
          <app-age [criteriaForm] = "criteriaForm" ></app-age>

        </div> -->
        <!-- <ng-container *ngTemplateOutlet="otherComp; context: ctx"></ng-container> -->

    </div>
  </div>
  
</form>


<ng-template #otherComp let-subType = 'subType'>
  <p> subType : {{ subType }}</p>

    <app-age *ngIf="subType == 'Age'" [criteriaForm] = "criteriaForm" ></app-age>
    <app-radius *ngIf="subType == 'Radius'"></app-radius>

</ng-template>

<hr>

<!-- <form [formGroup]="clinicalSearchForm" (ngSubmit)="onSubmit()">
  <button>
    submit
  </button>
  <div class="patient-details__formArr" formArrayName="patientDetailsArr" *ngFor="let patDetails of clinicalSearchForm.get('patientDetailsArr').controls; let i=index">
    <div class="patient-details-group" [formGroupName]="i">
      <input 
        type="text" 
        matInput
        formControlName="andOr"
      >
      <input 
        type="number" 
        matInput
        formControlName="minAge"
      >
      <input 
        type="number" 
        matInput
        formControlName="maxAge"
        (blur)="validateMaxAge(i)"
      >
      <input 
        type="text" 
        matInput
        formControlName="gender"
      >
      <span *ngIf="
        (clinicalSearchForm.get('patientDetailsArr').value[i].minAge > clinicalSearchForm.get('patientDetailsArr').value[i].maxAge)
        
        ">
        Invalid
      </span>
      <span>
        <button type="button" (click)="onAddPatientDettails()">ADD</button>
        <button type="button" (click)="onRemovePatientDettails(i)">REMOVE</button>
      </span>

    </div>
  </div>


  <div class="patient-details__lab-test">
    <input 
      type="text" 
      matInput
      formControlName="labTestAndOricdCode"
    >
  </div>

  <div class="lab-test__formArr" formArrayName="labTestArr" *ngFor="let patDetails of clinicalSearchForm.get('labTestArr').controls; let i=index">
    <div class="lab-test-group" [formGroupName]="i">
      <input 
        type="text" 
        matInput
        formControlName="andOr"
      >
      <input 
        type="text" 
        matInput
        formControlName="labTestLookup"
      >
      <input 
        type="text" 
        matInput
        formControlName="condition"
      >
      <input 
        type="text" 
        matInput
        formControlName="value"
      >
      <input 
        type="text" 
        matInput
        formControlName="units"
      >
      <input 
        type="text" 
        matInput
        formControlName="fasting"
      >
      <span>
        <button type="button" (click)="onAddLabTest()">ADD</button>
        <button type="button" (click)="onRemoveLabTest(i)">REMOVE</button>
      </span>
    </div>
  </div>

  <div class="lab-test__icd-code">
      <input 
      type="text" 
      matInput
      formControlName="patientAndOrLabTest"
    >
  </div>

  <div class="icd-code__formArr" formArrayName="icdCodeArr" *ngFor="let patDetails of clinicalSearchForm.get('icdCodeArr').controls; let i=index">
    <div class="patient-details-group" [formGroupName]="i">
        <input 
        type="text" 
        matInput
        formControlName="andOr"
      >
      <input 
        type="text" 
        matInput
        formControlName="condition"
      >
      <input 
        type="text" 
        matInput
        formControlName="icdCodePartI"
      >
      <input 
        type="text" 
        matInput
        formControlName="icdCodePartII"
      >
      <input 
        type="text" 
        matInput
        formControlName="icdCodeSet"
      >
      <span>
        <button type="button" (click)="onAddIcdCode()">ADD</button>
        <button type="button" (click)="onRemoveIcdCode(i)">REMOVE</button>
      </span>
      
    </div>

  </div>

</form> -->