<div class="container">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <h4>{{ "selectLanguage" | transloco }}</h4>
      <mat-form-field class="mt-2">
        <mat-label>{{ "language" | transloco }}</mat-label>
        <mat-select
          [(value)]="selectedLanguage"
          (selectionChange)="onChange($event)"
        >
          <mat-option
            *ngFor="let language of languages"
            [value]="language.value"
          >
            {{ language.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3"></div>
  </div>
</div>
