<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (closeSidenav)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-topnav (sidenavToggle)="sidenav.toggle()"></app-topnav>
    <main>
        <router-outlet></router-outlet>
      <!-- <section id="container" fxFlex fxLayoutAlign="center">
        <div id="child1" class="child" fxFlex.gt-md="20%" fxHide.lt-md></div>
        <div id="child2" class="child" fxFlex.gt-md="60%" fxShow.lt-md="100%">
          <router-outlet></router-outlet>
        </div>
        <div id="child3" class="child" fxFlex.gt-md="20%" fxHide.lt-md></div>
      </section> -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>