$primary_color : rgb(0, 132, 255);
$secondary_color: red;
$white_color: white;
$red_color: red;

$base_color: #35792A;
$base_color_medium: #22672A;
$base_color_dark: #19551F;
$warning_red: #D32F2F;
$accent_light: #C4D809;
$accent_dark: #B4C700;
$divider_gray_1: #D8D8D8;
$divider-gray-2: #A7A8AA;
$background_gray: #ECECEC;
$background_light_gray: #F8F8F8;
$icon_dark_gray: #63666A;
$icon_darkest_gray: #333333;
$white: #FFFFFF;
$black: #000000;

$colors : (
    primary_color : rgb(0, 132, 255),
    secondary_color : rgba(52, 209, 21, 0.692),
    red_color: red
);
